.charts{
    width: 100%;height:800px;
    margin:0 auto;
}

.provinceCharts{
    width: 100%;height:500px;
    margin:0 auto;
}

.countryPanel{
    /*作为图表的背景面板*/
    background-color: #ffffff;
    margin:0 auto;
    width: 75%;
    opacity:90%;
}


.provincePanel{
    /*作为图表的背景面板*/
    background-color: #ffffff;
    margin:0 auto;
    width: 75%;
    opacity:95%;
}


.yabg{
    background:url("../images/bgimg.jpg") no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;//自适应屏幕
    text-align:center;
}


.myRow {
    display: -ms-flexbox;
    display: flex;
    opacity:90%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:0 auto;
    background-color: #0865fb;
    width: 75%;height:180px
}


.myTextRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:0 auto;
    word-wrap: break-word;/*自动换行*/
    overflow:hidden;/*超出部分隐藏*/
    word-break:break-all;
    background-color: #fffefd;
    width: 75%;height:220px
}

.myH1{
    text-align: center;
    color: #ffab38;
}


.myH3{
    text-align: center;
    color: #efff35;
}

.myP{
    font-size:200%;
}

.num1{
    font-size:200%;
    color: #ff551b;
    font-style: italic;
    font-weight: bold;
}

.num12{
    font-size:100%;
    color: #ffa225;
    font-style: italic;
    font-weight: bold;
}


.num2{
    font-size:200%;
    color: #bfa038;
    font-style: italic;
    font-weight: bold;
}

.num22{
    font-size:100%;
    color: #bcbf40;
    font-style: italic;
    font-weight: bold;
}

.num3{
    font-size:200%;
    color: #ff0000;
    font-style: italic;
    font-weight: bold;
}


.num32{
    font-size:100%;
    color: #ff6162;
    font-style: italic;
    font-weight: bold;
}

.num4{
    font-size:200%;
    color: #0fbf25;
    font-style: italic;
    font-weight: bold;
}


.num42{
    font-size:100%;
    color: #71bf6d;
    font-style: italic;
    font-weight: bold;
}


.myTd{
    align:center
}

.mybar{
    width: 75%;height:50px
}


.myTextArea{
    width: 75%;
    height:500px
}


.update{
    width:50px;
    width:120px;
    color: #35bf5d;
}

.errorText{
    color: #bf161a;
    font-size:200%;
}


.mytextP{
    max-width:100%;
    text-overflow:ellipsis;//超出显示...
    overflow:hidden;//超过显示省略号
    word-wrap:break-word;//自动换行
    word-break: break-all;


}