.charts{
    width: 100%;height:800px;
    margin:0 auto;
}

.provinceCharts{
    width: 100%;height:500px;
    margin:0 auto;
}

.countryPanel{
    /*作为图表的背景面板*/
    background-color: #ffffff;
    margin:0 auto;
    width: 75%;
    opacity:90%;
}


.provincePanel{
    /*作为图表的背景面板*/
    background-color: #ffffff;
    margin:0 auto;
    width: 75%;
    opacity:95%;
}


.yabg{
    background:url("../images/bgimg.jpg") no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;//自适应屏幕
    text-align:center;
}


.myRow {
    display: -ms-flexbox;
    display: flex;
    opacity:90%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:0 auto;
    background-color: #0865fb;
    width: 75%;height:180px
}


.myTextRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:0 auto;
    word-wrap: break-word;/*自动换行*/
    overflow:hidden;/*超出部分隐藏*/
    background-color: #fffefd;
    width: 75%;height:180px
}

.myH1{
    text-align: center;
    color: #ffab38;
}


.myH3{
    text-align: center;
    color: #efff35;
}

.myP{
    font-size:200%;
}

.num1{
    font-size:200%;
    color: #ff551b;
    font-style: italic;
    font-weight: bold;
}
.num2{
    font-size:200%;
    color: #bfa038;
    font-style: italic;
    font-weight: bold;
}

.num3{
    font-size:200%;
    color: #ff0000;
    font-style: italic;
    font-weight: bold;
}
.num4{
    font-size:200%;
    color: #0fbf25;
    font-style: italic;
    font-weight: bold;
}

.myTd{
    align:center
}

.mybar{
    width: 75%;height:50px
}


.myTextArea{
    width: 75%;height:500px
}


.update{
    width:50px;
    width:120px;
    color: #35bf5d;
}