<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>全国数据</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--你自己写的样式文件，尽量不要放在bootstrap.min.css之前-->
    <link href="css/mycss.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/echarts/3.7.1/echarts.min.js"></script>
    <script src="http://gallery.echartsjs.com/dep/echarts/map/js/china.js"></script>


</head>
<body class="yabg">

<div class=".container-fluid">
    <div class="myRow">
        <div class="col-md-12">
            <h1 class="myH1">新型冠状肺炎</h1>
            <h3 class="myH3">疫情实时报告</h3>
            <form action="/example/html5/demo_form.asp" method="get">
                <input type="date" name="user_date" />
                <input type="submit" />
            </form>
            <label for="selectDate">选择日期：</label>
            <input id="selectDate" type="date" value="2020-03-13"/>
            <script>
                var selectDate = $("#selectDate").val();
            </script>

            <button class="btn btn-success" type="submit">Button</button>
        </div>
    </div>

    <div class="myTextRow">
      <!--  <table width="100%">
            <tr>
                <td>
                   <div>
                       <p class="myP">现有确诊</p><br/>
                       <p class="myP">现有确诊</p>
                   </div>
                </td>
                <td>
                    <div>
                        <p class="myp">现有疑似</p><br/>
                        <p class="myP">现有确诊</p>
                    </div>
                </td>
                <td>
                    <p class="myp">现有重症</p><br/>
                    <p class="myP">现有确诊</p>
                </td>
                <td>
                    <p class="myp">累计治愈</p><br/>
                    <p class="myP">现有确诊</p>
                </td>
            </tr>
        </table>-->
        <table width="100%">
            <tr>
                <td align="center"><p class="myP" >现有确诊</p></td>
                <td align="center"><p class="myP">现有疑似</p></td>
                <td align="center"><p class="myP">现有重症</p></td>
                <td align="center"><p class="myP">累计治愈</p></td>
            </tr>
            <tr>
                <td align="center"><p class="num1">522</p></td>
                <td align="center"><p class="num2">585</p></td>
                <td align="center"><p class="num3">585</p></td>
                <td align="center"><p class="num4">585</p></td>
            </tr>
        </table>
    </div>


    <div>
        <h1 class="myH1">新冠确诊分布</h1>
    </div>
    <div class="countryPanel">
        <div >
            <div id="china_map" class="charts"></div>
        </div>
    </div>




    <div>
        <h1 class="myH1">全国疫情快讯</h1>
    </div>
    <div class="myTextRow">
        <h3>疫情</h3>
        <P>
            17:50:55
            每人在各自独立设计、实现软件的过程中不免要犯这样那样的错误。在结对编程中,因为有随时的复审和交流,程序各方面的质量取决于一对程序员中各方面水平较高的那一位。这样,程序中的错误就会少得多,程序的初始质量会高很多,这样会省下很多以后修改、测试的时间。具体地说,结对编程有如下的好处: 1. 在开发层次,结对编程能提供更好的设计质量和代码质量,两人合作解决问题的能力更强。
            2. 对开发人员自身来说,结对工作能带来更多的信心,高质量的产出能带来更高的满足感。
            3. 在企业管理层次上,结对能更有效地交流,相互学习和传递经验,分享知识, 能更好地应对人员流动。
            总之,如果运用得当,结对编程可以取得更高的投入产出比

            19:33:02
            1. 团队有一致的集体目标,团队要一起完成这目标。一个团队的成员不一定要同时工作,例如接力赛跑。(王屋村搬砖的“非团队”成员则不然,每个人想搬多少就搬多少,不想干了就结算工钱走人。) 2. 团队成员有各自的分工,互相依赖合作,共同完成任务。(王屋村搬砖的“非团队”成员则是各自行动,独立把任务完成,有人不辞而别,对其他的搬砖人无实质影响。)

            19:47:14
            业余剧团模式(Amateur Theater Team) 这样的团队在每一个项目(剧目)中,不同的人会挑选不同的角色。在下一个剧目中,这些人也许会换一个完全不同的角色类型。各人在团队中听从一个中央指挥(导演)的指导和安排。在学生实践项目或培训项目中,这样的事情经常发生。
            5.2.5 秘密团队(Skunk Work Team) 一些软件项目在秘密状态下进行,别人不知道他们具体在做什么。苹果公司1980 年代在研发Macin-tosh之后的系统时,就有两三个团队在不同时期进入秘密状态开发。21世纪的一些创业团队也是处于类似状态。这种模式的好处是:团队内部有极大的自由,没有外界的干扰(不用每周给别人介绍项目进展,听领导的最新指示,等等),团队成员有极大的投入。
            5.2.6 特工团队(SWAT) 就像电影电视中的特工组《加里森敢死队》等一样,软件行业的一些团队由一些有特殊技能的专业人士组成,负责解决一些棘手而有紧迫性的问题。例如2000年之前,很多公司都需要专业人士去解决Y2K问题。这些团队成员必须了解传统语言和老式系统,才能胜任这样的任务。现在还有一些专门做网站安全性服务的团队,也属于这一类型。
        </P>
    </div>

    <div class="myTextRow">
        <h3>疫情2</h3>
        <P>
            17:50:55
            每人在各自独立设计、实现软件的过程中不免要犯这样那样的错误。在结对编程中,因为有随时的复审和交流,程序各方面的质量取决于一对程序员中各方面水平较高的那一位。这样,程序中的错误就会少得多,程序的初始质量会高很多,这样会省下很多以后修改、测试的时间。具体地说,结对编程有如下的好处: 1. 在开发层次,结对编程能提供更好的设计质量和代码质量,两人合作解决问题的能力更强。
            2. 对开发人员自身来说,结对工作能带来更多的信心,高质量的产出能带来更高的满足感。
            3. 在企业管理层次上,结对能更有效地交流,相互学习和传递经验,分享知识, 能更好地应对人员流动。
            总之,如果运用得当,结对编程可以取得更高的投入产出比

            19:33:02
            1. 团队有一致的集体目标,团队要一起完成这目标。一个团队的成员不一定要同时工作,例如接力赛跑。(王屋村搬砖的“非团队”成员则不然,每个人想搬多少就搬多少,不想干了就结算工钱走人。) 2. 团队成员有各自的分工,互相依赖合作,共同完成任务。(王屋村搬砖的“非团队”成员则是各自行动,独立把任务完成,有人不辞而别,对其他的搬砖人无实质影响。)

            19:47:14
            业余剧团模式(Amateur Theater Team) 这样的团队在每一个项目(剧目)中,不同的人会挑选不同的角色。在下一个剧目中,这些人也许会换一个完全不同的角色类型。各人在团队中听从一个中央指挥(导演)的指导和安排。在学生实践项目或培训项目中,这样的事情经常发生。
            5.2.5 秘密团队(Skunk Work Team) 一些软件项目在秘密状态下进行,别人不知道他们具体在做什么。苹果公司1980 年代在研发Macin-tosh之后的系统时,就有两三个团队在不同时期进入秘密状态开发。21世纪的一些创业团队也是处于类似状态。这种模式的好处是:团队内部有极大的自由,没有外界的干扰(不用每周给别人介绍项目进展,听领导的最新指示,等等),团队成员有极大的投入。
            5.2.6 特工团队(SWAT) 就像电影电视中的特工组《加里森敢死队》等一样,软件行业的一些团队由一些有特殊技能的专业人士组成,负责解决一些棘手而有紧迫性的问题。例如2000年之前,很多公司都需要专业人士去解决Y2K问题。这些团队成员必须了解传统语言和老式系统,才能胜任这样的任务。现在还有一些专门做网站安全性服务的团队,也属于这一类型。
        </P>
    </div>

    <div class="myTextRow">
        <h3>疫情3</h3>
        <P>
            17:50:55
            每人在各自独立设计、实现软件的过程中不免要犯这样那样的错误。在结对编程中,因为有随时的复审和交流,程序各方面的质量取决于一对程序员中各方面水平较高的那一位。这样,程序中的错误就会少得多,程序的初始质量会高很多,这样会省下很多以后修改、测试的时间。具体地说,结对编程有如下的好处: 1. 在开发层次,结对编程能提供更好的设计质量和代码质量,两人合作解决问题的能力更强。
            2. 对开发人员自身来说,结对工作能带来更多的信心,高质量的产出能带来更高的满足感。
            3. 在企业管理层次上,结对能更有效地交流,相互学习和传递经验,分享知识, 能更好地应对人员流动。
            总之,如果运用得当,结对编程可以取得更高的投入产出比

            19:33:02
            1. 团队有一致的集体目标,团队要一起完成这目标。一个团队的成员不一定要同时工作,例如接力赛跑。(王屋村搬砖的“非团队”成员则不然,每个人想搬多少就搬多少,不想干了就结算工钱走人。) 2. 团队成员有各自的分工,互相依赖合作,共同完成任务。(王屋村搬砖的“非团队”成员则是各自行动,独立把任务完成,有人不辞而别,对其他的搬砖人无实质影响。)

            19:47:14
            业余剧团模式(Amateur Theater Team) 这样的团队在每一个项目(剧目)中,不同的人会挑选不同的角色。在下一个剧目中,这些人也许会换一个完全不同的角色类型。各人在团队中听从一个中央指挥(导演)的指导和安排。在学生实践项目或培训项目中,这样的事情经常发生。
            5.2.5 秘密团队(Skunk Work Team) 一些软件项目在秘密状态下进行,别人不知道他们具体在做什么。苹果公司1980 年代在研发Macin-tosh之后的系统时,就有两三个团队在不同时期进入秘密状态开发。21世纪的一些创业团队也是处于类似状态。这种模式的好处是:团队内部有极大的自由,没有外界的干扰(不用每周给别人介绍项目进展,听领导的最新指示,等等),团队成员有极大的投入。
            5.2.6 特工团队(SWAT) 就像电影电视中的特工组《加里森敢死队》等一样,软件行业的一些团队由一些有特殊技能的专业人士组成,负责解决一些棘手而有紧迫性的问题。例如2000年之前,很多公司都需要专业人士去解决Y2K问题。这些团队成员必须了解传统语言和老式系统,才能胜任这样的任务。现在还有一些专门做网站安全性服务的团队,也属于这一类型。
        </P>

    </div>

    <div class="mybar"/>

</div>

</body>

<script src="http://gallery.echartsjs.com/dep/echarts/map/js/china.js" charset="utf-8"></script>
<script>

    var myDate = new Date();
    var china_chart = echarts.init(document.getElementById('china_map'));
    //var mapDataJson='${mapDataJson}';
    //数据纯属虚构
    var data = [
        {
            name: '江苏',
            value: 135
        },
        {
            name: '北京',
            value: 157
        },
        {
            name: '上海',
            value: 58
        },
        {
            name: '重庆',
            value: 186
        },
        {
            name: '河北',
            value: 37
        },
        {
            name: '河南',
            value: 187
        },
        {
            name: '云南',
            value: 22
        },
        {
            name: '辽宁',
            value: 24
        },
        {
            name: '黑龙江',
            value: 198
        },
        {
            name: '湖南',
            value: 209
        },
        {
            name: '安徽',
            value: 197
        },
        {
            name: '山东',
            value: 365
        },
        {
            name: '江苏',
            value: 135
        },
        {
            name: '浙江',
            value: 277
        },
        {
            name: '江西',
            value: 179
        },
        {
            name: '新疆',
            value: 31
        },
        {
            name: '湖北',
            value: 39625
        },
        {
            name: '广西',
            value: 88
        },
        {
            name: '甘肃',
            value: 8
        },
        {
            name: '山西',
            value: 29
        },
        {
            name: '内蒙古',
            value: 36
        },
        {
            name: '陕西',
            value: 50
        },
        {
            name: '吉林',
            value: 25
        },
        {
            name: '福建',
            value: 67
        },
        {
            name: '贵州',
            value: 32
        },
        {
            name: '广东',
            value: 444
        },
        {
            name: '青海',
            value: 0
        },
        {
            name: '西藏',
            value: 0
        },
        {
            name: '四川',
            value: 210
        },
        {
            name: '宁夏',
            value: 4
        },
        {
            name: '海南',
            value: 32
        },
        {
            name: '台湾',
            value: 26
        },
        {
            name: '香港',
            value: 66
        },
        {
            name: '澳门',
            value: 3
        }
    ];

    var yData = [];//省份
    var barData = [];//状态条
    var option = {

        tooltip: {// 鼠标移到图里面的浮动提示框
            show: true,
            formatter: function(params) {
                return params.name + '：' + params.data['value'] +"人"
            },
        },




        // visualMap的详细配置解析：https://echarts.baidu.com/option.html#visualMap
        visualMap: { // 左下角的颜色区域
            type: 'piecewise', // 定义为分段型 visualMap
            min: 0,
            max: 1000,
            itemWidth: 40,
            bottom: 60,
            left: 20,
            pieces: [ // 自定义『分段式视觉映射组件（visualMapPiecewise）』的每一段的范围，以及每一段的文字，以及每一段的特别的样式
                {gt: 10000, lte:50000 , label: '>=10000', color: '#64153e'}, // (900, 1000]
                {gt: 1000, lte: 9999, label: '1000-9999', color: '#79316b'}, // (500, 900]
                {gt: 100, lte: 999, label: '100-999', color: '#ff4874'}, // (310, 500]
                {gt: 10, lte: 99, label: '10-99', color: '#ffbbb3'}, // (200, 300]
                {gt: 1, lte: 9, label: '1-9', color: 'orangered'}, // (10, 200]
                {value: 0, label: '0', color: '#eddfff'} // [0]
            ]
        },


        grid: {
            right: 10,
            top: 135,
            bottom: 100,
            width: '20%'
        },

        xAxis: {
            show: false
        },

        yAxis: {
            type: 'category',
            inverse: true,
            nameGap: 16,
            axisLine: {
                show: false,
                lineStyle: {
                    color: '#ddd'
                }
            },

            axisTick: {
                show: false,
                lineStyle: {
                    color: '#ddd'
                }
            },

            axisLabel: {
                interval: 0,
                margin: 85,
                textStyle: {
                    color: '#455A74',
                    align: 'left',
                    fontSize: 14
                },

                rich: {
                    a: {
                        color: '#fff',
                        backgroundColor: '#FAAA39',
                        width: 20,
                        height: 20,
                        align: 'center',
                        borderRadius: 2
                    },
                    b: {
                        color: '#fff',
                        backgroundColor: '#4197FD',
                        width: 20,
                        height: 20,
                        align: 'center',
                        borderRadius: 2
                    }
                },

                formatter: function(params) {
                    if (parseInt(params.slice(0, 1)) < 3) {
                        return [
                            '{a|' + (parseInt(params.slice(0, 1)) + 1) + '}' + '  ' + params.slice(1)
                        ].join('\n')
                    } else {
                        return [
                            '{b|' + (parseInt(params.slice(0, 1)) + 1) + '}' + '  ' + params.slice(1)
                        ].join('\n')
                    }
                }
            },
            data: yData
        },

        // geo配置详解： https://echarts.baidu.com/option.html#geo
        geo: {// 地理坐标系组件用于地图的绘制
            //roam: true,
            map: 'china',
            left: 'left',
            right: '300',
            // layoutSize: '80%',
            label: {//地图色块的label显示
                /* emphasis: {
                     show: true
                 }*/
                show : true
            },
            itemStyle: {
                BorderColor :'rgba(2,0,0,0.2)',
                emphasis: {//高亮状态下的多边形和标签样式
                    shadowBlur:1,//阴影
                    areaColor: '#fff464'
                }
            }
        },

        series: [
            {//浮动框，中国地图
                name: 'mapSer',
                type: 'map',
                roam: false,
                geoIndex: 0,
                label: {
                    show: false,
                },
                data: data
            },

            {//最右边的条形图
                name: 'barSer',
                type: 'bar',
                roam: false,
                visualMap: false,
                zlevel: 2,
                barMaxWidth: 8,
                barGap: 0,
                itemStyle: {
                    normal: {
                        color: function(params) {
                            // build a color map as your need.
                            var colorList = [{
                                colorStops: [{
                                    offset: 0,
                                    color: '#FFD119' // 0% 处的颜色
                                }, {
                                    offset: 1,
                                    color: '#FFAC4C' // 100% 处的颜色
                                }]
                            },
                                {
                                    colorStops: [{
                                        offset: 0,
                                        color: '#00C0FA' // 0% 处的颜色
                                    }, {
                                        offset: 1,
                                        color: '#2F95FA' // 100% 处的颜色
                                    }]
                                }
                            ];
                            if (params.dataIndex < 3) {
                                return colorList[0]
                            } else {
                                return colorList[1]
                            }
                        },
                        barBorderRadius: 15
                    }
                },
                data: barData
            }

        ]
    };

    china_chart.on('click', function (param){
        var selected = param.name;
        if (selected) {
            switch(selected){
                case '四川':
                    location.href = "requestProvince?province=四川";
                    break;
                case '云南':
                    location.href = "requestProvince?province=云南";
                    break;
                case '西藏':
                    location.href = "requestProvince?province=西藏";
                case '新疆':
                    location.href = "requestProvince?province=新疆";
                    break;
                case '青海':
                    location.href = "requestProvince?province=青海";
                    break;
                case '宁夏':
                    location.href = "requestProvince?province=宁夏";
                    break;
                case '甘肃':
                    location.href = "requestProvince?province=甘肃";
                    break;
                case '内蒙古':
                    location.href = "requestProvince?province=内蒙古";
                    break;
                case '陕西':
                    location.href = "requestProvince?province=陕西";
                    break;
                case '山西':
                    location.href = "requestProvince?province=山西";
                    break;
                case '重庆':
                    location.href = "requestProvince?province=重庆";
                    break;
                case '贵州':
                    location.href = "requestProvince?province=贵州";
                    break;
                case '广西':
                    location.href = "requestProvince?province=广西";
                    break;
                case '海南':
                    location.href = "requestProvince?province=河南";
                    break;
                case '广东':
                    location.href = "requestProvince?province=广东";
                    break;
                case '湖南':
                    location.href = "requestProvince?province=湖南";
                    break;
                case '湖北':
                    location.href = "requestProvince?province=湖北";
                    break;
                case '河南':
                    location.href = "requestProvince?province=河南";
                    break;
                case '河北':
                    location.href = "requestProvince?province=河北";
                    break;
                case '北京':
                    location.href = "requestProvince?province=北京";
                    break;
                case '天津':
                    location.href = "requestProvince?province=天津";
                    break;
                case '黑龙江':
                    location.href = "requestProvince?province=黑龙江";
                    break;
                case '吉林':
                    location.href = "requestProvince?province=吉林";
                    break;
                case '辽宁':
                    location.href = "requestProvince?province=辽宁";
                    break;
                case '山东':
                    location.href = "requestProvince?province=山东";
                    break;
                case '江苏':
                    location.href = "requestProvince?province=江苏";
                    break;
                case '安徽':
                    location.href = "requestProvince?province=安徽";
                    break;
                case '上海':
                    location.href = "requestProvince?province=上海";
                    break;
                case '浙江':
                    location.href = "requestProvince?province=浙江";
                    break;
                case '福建':
                    location.href = "requestProvince?province=福建";
                    break;
                case '江西':
                    location.href = "requestProvince?province=江西";
                    break;
                case '台湾':
                    location.href = "requestProvince?province=台湾";
                    break;
                case '香港':
                    location.href = "requestProvince?province=香港";
                    break;
                case '澳门':
                    location.href = "requestProvince?province=澳门";
                    break;
                default:
                    break;
            }

        }
    });
    china_chart.setOption(option);


</script>
</html>












