<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>省份详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--你自己写的样式文件，尽量不要放在bootstrap.min.css之前-->
    <link href="/css/mycss.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/echarts/3.7.1/echarts.min.js"></script>
    <script src="http://gallery.echartsjs.com/dep/echarts/map/js/china.js"></script>
</head>



<body class="yabg">
<div class=".container-fluid">
    <div class="myRow">
        <div class="col-md-12">
            <h1 class="myH1">新型冠状肺炎</h1>
            <p>福建实时动态</p>
        </div>
    </div>

    <div class="myTextRow">
        <table width="100%">
            <tr>
                <td align="center"><p class="myP" >现有确诊</p></td>
                <td align="center"><p class="myP">现有疑似</p></td>
                <td align="center"><p class="myP">现有重症</p></td>
                <td align="center"><p class="myP">累计治愈</p></td>
            </tr>
            <tr>
                <td align="center"><p class="num1">522</p></td>
                <td align="center"><p class="num2">585</p></td>
                <td align="center"><p class="num3">585</p></td>
                <td align="center"><p class="num4">585</p></td>
            </tr>
        </table>
    </div>


    <h1 class="myH1">累计治愈/死亡</h1>
    <div class="provincePanel">
        <div >
            <div id="provinceChart1" class="provinceCharts"></div>
        </div>
    </div>




    <h1 class="myH1">新增确诊/疑似</h1>
    <div class="provincePanel">
        <div >
            <div id="provinceChart2" class="provinceCharts"></div>
        </div>
    </div>>


    <div>
        <h1 class="myH1">疫情快讯</h1>
    </div>

    <div class="myTextRow">
        <h3>疫情快讯</h3>
        <P>
            17:50:55
            每人在各自独立设计、实现软件的过程中不免要犯这样那样的错误。在结对编程中,因为有随时的复审和交流,程序各方面的质量取决于一对程序员中各方面水平较高的那一位。这样,程序中的错误就会少得多,程序的初始质量会高很多,这样会省下很多以后修改、测试的时间。具体地说,结对编程有如下的好处: 1. 在开发层次,结对编程能提供更好的设计质量和代码质量,两人合作解决问题的能力更强。
            2. 对开发人员自身来说,结对工作能带来更多的信心,高质量的产出能带来更高的满足感。
            3. 在企业管理层次上,结对能更有效地交流,相互学习和传递经验,分享知识, 能更好地应对人员流动。
            总之,如果运用得当,结对编程可以取得更高的投入产出比

            19:33:02
            1. 团队有一致的集体目标,团队要一起完成这目标。一个团队的成员不一定要同时工作,例如接力赛跑。(王屋村搬砖的“非团队”成员则不然,每个人想搬多少就搬多少,不想干了就结算工钱走人。) 2. 团队成员有各自的分工,互相依赖合作,共同完成任务。(王屋村搬砖的“非团队”成员则是各自行动,独立把任务完成,有人不辞而别,对其他的搬砖人无实质影响。)

            19:47:14
            业余剧团模式(Amateur Theater Team) 这样的团队在每一个项目(剧目)中,不同的人会挑选不同的角色。在下一个剧目中,这些人也许会换一个完全不同的角色类型。各人在团队中听从一个中央指挥(导演)的指导和安排。在学生实践项目或培训项目中,这样的事情经常发生。
            5.2.5 秘密团队(Skunk Work Team) 一些软件项目在秘密状态下进行,别人不知道他们具体在做什么。苹果公司1980 年代在研发Macin-tosh之后的系统时,就有两三个团队在不同时期进入秘密状态开发。21世纪的一些创业团队也是处于类似状态。这种模式的好处是:团队内部有极大的自由,没有外界的干扰(不用每周给别人介绍项目进展,听领导的最新指示,等等),团队成员有极大的投入。
            5.2.6 特工团队(SWAT) 就像电影电视中的特工组《加里森敢死队》等一样,软件行业的一些团队由一些有特殊技能的专业人士组成,负责解决一些棘手而有紧迫性的问题。例如2000年之前,很多公司都需要专业人士去解决Y2K问题。这些团队成员必须了解传统语言和老式系统,才能胜任这样的任务。现在还有一些专门做网站安全性服务的团队,也属于这一类型。
        </P>
    </div>

    <div class="myTextRow">
        <h3>疫情快讯</h3>
        <P>
            17:50:55
            每人在各自独立设计、实现软件的过程中不免要犯这样那样的错误。在结对编程中,因为有随时的复审和交流,程序各方面的质量取决于一对程序员中各方面水平较高的那一位。这样,程序中的错误就会少得多,程序的初始质量会高很多,这样会省下很多以后修改、测试的时间。具体地说,结对编程有如下的好处: 1. 在开发层次,结对编程能提供更好的设计质量和代码质量,两人合作解决问题的能力更强。
            2. 对开发人员自身来说,结对工作能带来更多的信心,高质量的产出能带来更高的满足感。
            3. 在企业管理层次上,结对能更有效地交流,相互学习和传递经验,分享知识, 能更好地应对人员流动。
            总之,如果运用得当,结对编程可以取得更高的投入产出比

            19:33:02
            1. 团队有一致的集体目标,团队要一起完成这目标。一个团队的成员不一定要同时工作,例如接力赛跑。(王屋村搬砖的“非团队”成员则不然,每个人想搬多少就搬多少,不想干了就结算工钱走人。) 2. 团队成员有各自的分工,互相依赖合作,共同完成任务。(王屋村搬砖的“非团队”成员则是各自行动,独立把任务完成,有人不辞而别,对其他的搬砖人无实质影响。)

            19:47:14
            业余剧团模式(Amateur Theater Team) 这样的团队在每一个项目(剧目)中,不同的人会挑选不同的角色。在下一个剧目中,这些人也许会换一个完全不同的角色类型。各人在团队中听从一个中央指挥(导演)的指导和安排。在学生实践项目或培训项目中,这样的事情经常发生。
            5.2.5 秘密团队(Skunk Work Team) 一些软件项目在秘密状态下进行,别人不知道他们具体在做什么。苹果公司1980 年代在研发Macin-tosh之后的系统时,就有两三个团队在不同时期进入秘密状态开发。21世纪的一些创业团队也是处于类似状态。这种模式的好处是:团队内部有极大的自由,没有外界的干扰(不用每周给别人介绍项目进展,听领导的最新指示,等等),团队成员有极大的投入。
            5.2.6 特工团队(SWAT) 就像电影电视中的特工组《加里森敢死队》等一样,软件行业的一些团队由一些有特殊技能的专业人士组成,负责解决一些棘手而有紧迫性的问题。例如2000年之前,很多公司都需要专业人士去解决Y2K问题。这些团队成员必须了解传统语言和老式系统,才能胜任这样的任务。现在还有一些专门做网站安全性服务的团队,也属于这一类型。
        </P>
    </div>
    <div class="mybar"/>








</div>
</body>

<script src="https://cdn.bootcss.com/echarts/3.7.1/echarts.min.js"></script>
<script type="text/javascript">
    var dom = document.getElementById("provinceChart1");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    var colors = [ '#05B950','#000301'],


        option = {
            color: colors,

            tooltip: {
                trigger: 'none',
                axisPointer: {
                    type: 'cross',
                    snap: true,

                }
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            legend: {
                data:['累计治愈','累计死亡'],

            },
            grid: {
                top: 70,
                bottom: 50
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLine: {
                        onZero: false,

                    },
                    axisPointer: {
                        label: {
                            formatter: function (params) {
                                return  params.value+' 累计治愈'
                                    + (params.seriesData.length ? '：' + params.seriesData[0].data : '')+
                                    '  \n累计死亡'+(params.seriesData.length ? '：' + params.seriesData[1].data : '');
                            }
                        }
                    },
                    data: ['2-1','2-2','2-3','2-4','2-5','2-6','2-7','2-8','2-9','2-10','2-11','2-12',
                        '2-13','2-14','2-15','2-16','2-17','2-18','2-19','2-20','2-21','2-22','2-23','2-24',
                        '2-25','2-26','2-27','2-28','2-29']
                }

            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '累计治愈',
                    type: 'line',
                    // xAxisIndex: 1,
                    smooth: true,
                    data: [0,0,0,0,0,0,0,0,0,1,1,2,2,2,3,5,5,6,7,8,9,11,14,15,16,19,24,28]
                },
                {
                    name: '累计死亡',
                    type: 'line',
                    smooth: true,
                    data: [0,0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,2,2,3,3,3,4,4,4,4,4,5,6]
                },
                // {
                //     name: '累计治愈',
                //     type: 'line',
                //     // xAxisIndex: 1,
                //     smooth: true,
                //     data: [2, 5, 0, 6.4, 8.7, 70.7, 175.6, 192.2, 48.7, 18.8, 6.0, 2.3]
                // },
                //  {
                //     name: '累计死亡',
                //     type: 'line',
                //     // xAxisIndex: 1,
                //     smooth: true,
                //     data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 75.6, 82.2, 48.7, 18.8, 6.0, 2.3]
                // }
            ]
        };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>
<script type="text/javascript">
    var dom = document.getElementById("provinceChart2");
    var myChart = echarts.init(dom);


     var url2='provinceInfos.json';
     var requst2=new XMLHttpRequest();
     requst2.open('get',url2);
     requst2.send(null);
     var historyjson ;	 ////
     requst2.onreadystatechange=function()
     {
         if (requst2.status == 200 && requst2.readyState == 4 ) {
             historyjson = JSON.parse(requst2.responseText);//将字符转换为json对象
             console.log(historyjson);
             //switchChart("confirm_sus",historyjson);
         }
     }

     //var newData=JSON.stringify(historyjson);
     var data=historyjson;

    console.log(historyjson);

     for(var i in historyjson){
         console.log(i);
     }

   /*  var data1=data[0];
     var data2=data[1];
     var data3=data[2];
     var data4=data[3];
     var data5=data[4];


    console.log(data1);
    console.log(data2);
    console.log(data3);
    console.log(data4);
    console.log(data5);*/






    var app = {};
    option = null;
    var colors = ['#FF8000', '#FF0000', '#05B950','#000301'],
        option = {
            color: colors,

            tooltip: {
                trigger: 'none',
                axisPointer: {
                    type: 'cross',
                    snap: true,

                }
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            legend: {
                data:['新增确诊', '新增疑似','累计治愈','累计死亡'],

            },
            grid: {
                top: 70,
                bottom: 50
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLine: {
                        onZero: false,

                    },
                    axisPointer: {
                        label: {
                            formatter: function (params) {
                                return  params.value+' 现有确诊'
                                    + (params.seriesData.length ? '：' + params.seriesData[0].data : '')+
                                    '  \n累计确诊'+(params.seriesData.length ? '：' + params.seriesData[1].data : '');
                            }
                        }
                    },
                    data: ['2-1','2-2','2-3','2-4','2-5','2-6','2-7','2-8','2-9','2-10','2-11','2-12',
                        '2-13','2-14','2-15','2-16','2-17','2-18','2-19','2-20','2-21','2-22','2-23','2-24',
                        '2-25','2-26','2-27','2-28','2-29']
                }

            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '新增确诊',
                    type: 'line',
                    // xAxisIndex: 1,
                    smooth: true,
                    data: [1,2,3,5,8,6,4,3,3,1,1,1,2,1,1,2,3,1,1,0,0,0,1,1,0,1]
                },
                {
                    name: '新增疑似',
                    type: 'line',
                    smooth: true,
                    data: [1,2,3,5,7,10,16,25,20,30,27,25,20,23,18,16,18,20,17,15,10,14,14,14,15,10,10,5]
                },
                // {
                //     name: '累计治愈',
                //     type: 'line',
                //     // xAxisIndex: 1,
                //     smooth: true,
                //     data: [2, 5, 0, 6.4, 8.7, 70.7, 175.6, 192.2, 48.7, 18.8, 6.0, 2.3]
                // },
                //  {
                //     name: '累计死亡',
                //     type: 'line',
                //     // xAxisIndex: 1,
                //     smooth: true,
                //     data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 75.6, 82.2, 48.7, 18.8, 6.0, 2.3]
                // }
            ]
        };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>

</html>