<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>省份详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!--你自己写的样式文件，尽量不要放在bootstrap.min.css之前-->
    <link href="/css/mycss.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/echarts/3.7.1/echarts.min.js"></script>
    <script src="http://gallery.echartsjs.com/dep/echarts/map/js/china.js"></script>
</head>
<body class="yabg">

<div class="myRow">
    <div class="col-md-12">
        <h1 class="myH1">新型冠状肺炎</h1>
        <p>福建实时动态</p>
    </div>
</div>

<div class="myTextRow">
    <p>总数据展示</p>

    <table></table>
</div>


<div >
    <h1 class="myH1">全国疫情分布</h1>
    <div id="china_map" class="charts"></div>
</div>







</body>
</html>